---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import SignupComponent from "../fragments/SignupComponent.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<!-- https://www.storyblok.com/ -->
		<main>
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="banner-with-text">
							<h1>
								<span class="grad-2">Joyful Headless<sup>TM</sup></span> runs circles
								around your bloated, old-school CMS
							</h1>
							<p>
								<p>Make bigger, faster market impact</p> with the CMS that gets out
								of your way. Ready to see how it works? Try it now!
							</p>
							<div class="mt-4">
								<img width="100%" src="/banner-image.png" alt="Banner Image" />
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<h3>
							Create insanely great <span class="grad-2"
								>customer experiences</span
							>
						</h3>
						<p>
							Storyblok empowers marketers to get new ideas, offers, campaigns
							and digital experiences to market faster than ever - without
							having to involve dev at every little step.
						</p>
						<hr />
					</div>
				</div>
				<div class="row">
					<div class="col-6">
						<h4>Get more ideas to market - faster</h4>
						<ul>
							<li>
								<b>Build, test and update content in minutes</b> - without dev support.
								Iterate faster. Update more often. Respond to market changes.
							</li>
							<li>
								<b>Take control of the customer</b> experience with our pioneering
								Visual Editor. See changes in real time for faster decision-making.
							</li>
							<li>
								<b>Seize new opportunities</b> - grow into new markets, channels,
								products, and regions without re-inventing the wheel.
							</li>
							<li>
								<b>Collaborate throughout the content lifecycle</b> - from idea to
								publishing, using the Ideation Room and in-app collaboration and
								workflows.
							</li>
						</ul>
					</div>
					<div class="col-6">
						<h4>Freedom to own the content lifecycle</h4>
						<ul>
							<li>
								<b>Integrate the tools you love</b> - e-Commerce, CRM, SEO, personalization,
								automation… anything your business needs.
							</li>
							<li>
								<b>Translate and localize content fast</b> - supporting as many versions
								as you need
							</li>
							<li>
								<b>Deliver content consistently across channels</b> - web, mobile,
								kiosks, apps, and social platforms.
							</li>
							<li>
								<b>View, control, and manage workflows across</b> different users
								and teams for faster collaboration and content approval cycles.
							</li>
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<SignupComponent />
					</div>
				</div>
			</div>
		</main>
		<Footer />
	</body>
</html>

<style>
	.banner-with-text {
		background: #d9eeff;
		margin-top: 50px;
		margin-bottom: 50px;
		padding: 30px;
		text-align: center;
		border-radius: 30px;
		border-top-right-radius: 160px;
	}
</style>
