---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<div class="container pt-4">
				<div class="row">
					<div class="col-12">
						<h1>Pricing</h1>
						<p>
							Built for any project. Try Storyblok free for 14 days, then
							upgrade to a paid plan to add more team members and access premium
							features.
						</p>
					</div>
				</div>
				<div class="row mb-3">
					<div class="col-12 col-md-12 col-lg-12">
						<div class="switch-checkbox-wrapper">
							<span class="switch">
								<label for="billing-toggle" class="label-monthly">Annually</label>
								<input type="checkbox" id="billing-toggle" />
								<label for="billing-toggle" class="label-annually">Monthly</label>
							</span>
							<span class="note">Pay Annually and get one month free</span>
						</div>
					</div>
				</div>
				<div class="row mb-4">
					<div class="col-12 col-md-6 col-lg-3">
						<div class="price-section">
							<h3 class="grad-1">Free</h3>
							<p>Experience free for all of your message, We will handle it</p>
							<h1>0$</h1>
							<label>Includes</label>
							<ul>
								<li>
									500 Transection/2000 Token size <a
										title="1 World aprrox equal to 4 token">*</a
									>
								</li>
								<li>Experience any bot</li>
								<li>You can create one bot</li>
								<li>Web bot</li>
								<li>100 Notifier by any channel</li>
							</ul>
							<div class="button-wrapper">
								<a class="button">Go for free</a>
							</div>
						</div>
					</div>
					<div class="col-12 col-md-6 col-lg-3">
						<div class="price-section">
							<h3 class="grad-2">Personal</h3>
							<p>Experience free for all of your message, We will handle it</p>
							<h1>2.99$</h1>
							<label>Includes</label>
							<ul>
								<li>
									500 Transection/2000 Token size <a
										title="1 World aprrox equal to 4 token">*</a
									>
								</li>
								<li>Experience any bot</li>
								<li>You can create one bot</li>
								<li>Web bot</li>
								<li>100 Notifier by any channel</li>
							</ul>
							<div class="button-wrapper">
								<a class="button">Go for free</a>
							</div>
						</div>
					</div>
					<div class="col-12 col-md-6 col-lg-3">
						<div class="price-section">
							<h3 class="grad-3">Family</h3>
							<p>Experience free for all of your message, We will handle it</p>
							<h1>8.99$</h1>
							<label>Includes</label>
							<ul>
								<li>
									500 Transection/2000 Token size <a
										title="1 World aprrox equal to 4 token">*</a
									>
								</li>
								<li>Experience any bot</li>
								<li>You can create one bot</li>
								<li>Web bot</li>
								<li>100 Notifier by any channel</li>
							</ul>
							<div class="button-wrapper">
								<a class="button">Go for free</a>
							</div>
						</div>
					</div>
					<div class="col-12 col-md-6 col-lg-3">
						<div class="price-section">
							<h3 class="grad-4">Enterprise</h3>
							<p>Experience free for all of your message, We will handle it</p>
							<h1>100$</h1>
							<label>Includes</label>
							<ul>
								<li>
									500 Transection/2000 Token size <a
										title="1 World aprrox equal to 4 token">*</a
									>
								</li>
								<li>Experience any bot</li>
								<li>You can create one bot</li>
								<li>Web bot</li>
								<li>100 Notifier by any channel</li>
							</ul>
							<div class="button-wrapper">
								<a class="button" href="/contact">Contact Us</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
		<Footer />
	</body>
</html>

<style>
	.price-section {
		border: 1px solid #ddd;
		padding: 15px;
		border-radius: 15px;
		background: #f0f8ff;
		.button {
			width: 100%;
			display: block;
		}
	}
	.switch-checkbox-wrapper {
		font-family: sans-serif;
		display: flex;
		flex-direction: column;
		align-items: start;
		gap: 0.5rem;
		user-select: none;
		.switch {
			display: inline-flex;
			align-items: center;
			background: #e4e4e4;
			border-radius: 2rem;
			padding: 0.3rem;
			position: relative;
			width: 250px;
			height: 36px;
			cursor: pointer;
			input[type="checkbox"] {
				opacity: 0;
				width: 0;
				height: 0;
				&:checked + .label-annually::before {
					transform: translateX(100%);
				}
			}

			label {
				flex: 1;
				text-align: center;
				font-size: 14px;
				z-index: 2;
				color: #333;
				cursor: pointer;

				&.label-monthly {
					order: 1;
				}

				&.label-annually {
					&::before {
						content: "";
						position: absolute;
						top: 0;
						left: 0;
						width: 50%;
						height: 100%;
						background: #fff;
						color: #146ef5;
						border-radius: 2rem;
						box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
						transition: transform 0.3s ease;
						z-index: -1;
					}
				}
			}
		}
		.note {
			font-size: 12px;
			color: #666;
		}
	}
</style>
