---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <section class="pt-3 pb-3">
        <div class="container">
          <div class="row">
            <div class="col-12"><h1>Terms & Conditions</h1></div>
          </div>
        </div>
      </section>
      <section class="pt-3 pb-3">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <p>
                By accessing this website we assume you accept these terms and
                conditions. Do not continue to use the site if you do not agree
                to all of the terms and conditions stated on this page.
              </p>

              <h4>1. Definitions</h4>
              <p>For the purposes of these Terms and Conditions:</p>
              <ul>
                <li>
                  <strong>Company</strong> (referred to as either "the Company",
                  "We", "Us" or "Our") refers to Our business entity.
                </li>
                <li><strong>Service</strong> refers to the Website.</li>
                <li>
                  <strong>You</strong> means the individual accessing or using the
                  Service.
                </li>
              </ul>

              <h4>2. Use of the Website</h4>
              <p>
                You agree to use the Website only for lawful purposes and in a
                way that does not infringe the rights of, restrict, or inhibit
                anyone else's use and enjoyment of the Website.
              </p>

              <h4>3. Intellectual Property Rights</h4>
              <p>
                Unless otherwise stated, we or our licensors own the
                intellectual property rights for all material on this Website.
                You may view and/or print pages from the Website for your own
                personal use subject to restrictions set in these terms and
                conditions.
              </p>

              <h4>4. Restrictions</h4>
              <p>You are specifically restricted from all of the following:</p>
              <ul>
                <li>Publishing any Website material in any other media</li>
                <li>
                  Selling, sublicensing and/or otherwise commercializing any
                  Website material
                </li>
                <li>Publicly performing and/or showing any Website material</li>
                <li>
                  Using this Website in any way that is or may be damaging to
                  the Website
                </li>
                <li>
                  Using this Website in any way that impacts user access to the
                  Website
                </li>
              </ul>

              <h4>5. User Content</h4>
              <p>
                In these terms and conditions, “User Content” shall mean any
                audio, video, text, images, or other material you choose to
                display on this Website. By displaying it, you grant Us a
                non-exclusive, worldwide irrevocable license to use, reproduce,
                adapt, publish, translate and distribute it in any and all
                media.
              </p>

              <h4>6. Your Privacy</h4>
              <p>
                Please read our <a href="/privacy-policy">Privacy Policy</a>.
              </p>

              <h4>7. No warranties</h4>
              <p>
                This Website is provided “as is,” with all faults, and We
                express no representations or warranties, of any kind related to
                this Website or the materials contained on this Website.
              </p>

              <h4>8. Limitation of liability</h4>
              <p>
                In no event shall We, nor any of our officers, directors, and
                employees, be held liable for anything arising out of or in any
                way connected with your use of this Website.
              </p>

              <h4>9. Indemnification</h4>
              <p>
                You hereby indemnify to the fullest extent Us from and against
                any and all liabilities, costs, demands, causes of action,
                damages and expenses arising in any way related to your breach
                of any of the provisions of these Terms.
              </p>

              <h4>10. Severability</h4>
              <p>
                If any provision of these Terms is found to be invalid under any
                applicable law, such provisions shall be deleted without
                affecting the remaining provisions herein.
              </p>

              <h4>11. Changes to Terms</h4>
              <p>
                We are permitted to revise these Terms at any time as we see
                fit, and by using this Website you are expected to review these
                Terms on a regular basis.
              </p>

              <h4>12. Governing Law & Jurisdiction</h4>
              <p>
                These Terms will be governed by and interpreted in accordance
                with the laws of [Your Country/State], and you submit to the
                non-exclusive jurisdiction of the state and federal courts
                located in [Your Location] for the resolution of any disputes.
              </p>

              <p>
                If you have any questions about these Terms and Conditions,
                please contact us at <a href="mailto:support@example.com"
                  >support@example.com</a
                >.
              </p>
            </div>
          </div>
        </div>
      </section>
    </main>
    <Footer />
  </body>
</html>
