.button-primary {
  background-color: #1f1f1f;
  color: #fff;
  padding: 1rem 1.5rem;
  border-radius: 6px;
}

.button, button {
	background-color: #146ef5;
	color: #fff;
	text-align: center;
	cursor: pointer;
	background-image: none;
	border-radius: 4px;
	padding: 0.8em 1.5em;
	font-size: 0.9375rem;
	font-weight: 600;
	line-height: 1.2;
	text-decoration: none;
	border: 0;
	outline: 0;
	display: inline-block;
	&:hover, a:hover {
		background-color: #0055d4;
		box-shadow:
			0 1px 1px #08080814,
			0 1px 1px #08080833,
			inset 0 6px 12px #ffffff1f,
			inset 0 1px 1px #fff3;
	}
}
