[class^="grad-"] {
  background-attachment: scroll;
  background-clip: text;
  background-color: transparent;
  background-origin: padding-box;
  color: #1f1f1f;
  margin-block-start: 0;
  overflow-wrap: anywhere;
  tab-size: 4;
  text-size-adjust: 100%;
  text-wrap-mode: wrap;
  text-wrap-style: balance;
  word-break: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-fill-color: transparent;
}

.grad-1 {
  background-image: linear-gradient(90deg, #5518bf 0%, #a185ff 33%);
}

.grad-2 {
  background-image: linear-gradient(90deg, #184db5 0%, #59b5ff 33%);
}

.grad-3 {
  background-image: linear-gradient(90deg, #b518a0 0%, #d64d9d 33%);
}

.grad-4 {
  background-image: linear-gradient(90deg, #0dda73 0%, #54b339 33%);
}
