h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 0.5rem 0;
	color: rgb(var(--black));
	line-height: 1.2;
}

h1 {
	font-size: 3.052em;
}

h2 {
	font-size: 2.441em;
}

h3 {
	font-size: 1.953em;
}

h4 {
	font-size: 1.563em;
}

h5 {
	font-size: 1.25em;
}

h5 {
	font-size: 1em;
}

strong, b {
	font-weight: 700;
}

a {
	color: #333;
	text-decoration: none;
	&:not(.cta):not(.button):hover {
		color: #146ef5;
	}
	&:not(.button):hover {
		color: #146ef5;
	}
}


p {
  font-size: 1.1rem;
}
