<style>
  .newsletter-fragments{
    background-color:#d9eeff;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
  }
</style>

<div class="newsletter-fragments">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <p>Subscribe to our monthly Newsletter</p>
      </div>
      <div class="col-6">
        <div class="newsletter-form-wrapper">
          <form>
            <input placeholder="Your email address*" autocomplete="email" required name="email" />
            <button>Signup</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
