<style>
.newsletter-fragments{
  background-color:#d9eeff;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  h4 {
    margin: 0;
  }
  form {
    display: flex;
    flex-direction: row;
    align-items: center;
    input {
      margin: 0;
      margin-right: 15px;
    }
  }
}
</style>

<div class="newsletter-fragments">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6">
        <h4>Subscribe to our monthly Newsletter</h4>
      </div>
      <div class="col-12 col-md-6">
        <div class="newsletter-form-wrapper">
          <form>
            <input type="email" placeholder="Your email address*" autocomplete="email" required name="email" />
            <button class="cta">Signup</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
