.create-bot {
    background: linear-gradient(45deg, #85d5e757, #7a9ed254, #ba6ac93d, #de54c217, #f86b2d4f);
    padding: 0 16px;
    backdrop-filter: blur(10px);
    border-radius: 4px;
    box-shadow: inset -20px 5px 10px -20px #00000021, inset -40px 50px 7px -55px #00000021;
}

.bot-categories {
  list-style: none;
  padding: 0;
  margin: 0;

  a {
    border-radius: 6px;
    padding: 6px 10px;
    list-style: none;
    color: #4f4f4f;
    &:hover {
      color: #444444;
    }
    &.active {
      background: #1565c0;
      border-radius: 6px;
      padding: 6px 10px;
      color: #ffffff;
    }
  }
}

.bot-card {
  position: relative;
  padding-bottom: 50px;
  min-height: 200px;

  .bot-action {
    a {
      position: absolute;
      background: #1565c0;
      color: #fff;
      right: 0;
      padding: 10px 24px;
      bottom: 0;
      display: block;
      cursor: pointer;
    }
  }
}
