@import url('./chat-message-blocks/general-blocks.scss');

.chat-container {
  height: 100%;
  .chat-bot-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    .chat-box {
      flex: 1;
      overflow-y: auto;
      padding:40px 20px;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    .messages {
      display: flex;
      flex-direction: column;
      gap: 20px;
      .message {
        max-width: 80%;
        padding: 10px 15px;
        border-radius: 8px;
        font-size: 16px;
        line-height: 1.5;
        p {
          margin: 0;
        }
      }
      .user-message {
        align-self: flex-end;
      }
      .bot-message {
        align-self: flex-start;
      }
    }
  
    .chat-input-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      background-color: #fff;
      box-shadow: 0px -9px 15px -3px rgba(0, 0, 0, 0.1);
  
      input {
        flex: 1;
        padding: 10px;
        font-size: 14px;
        border-radius: 5px;
        border: 1px solid #eee;
        border-radius: 0px;
        height: 40px;
      }
  
      button {
        height: 40px;
      }
    }
  }
}
