@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap-grid.min.css');
@import url('./auth.scss');
@import url('./bots.scss');
@import url('./header.scss');
@import url('./card.scss');
@import url('./chat.scss');
@import url('./child-bots.scss');
@import url('./nav.scss');
@import url('./loaders/general.scss');

* {
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  overflow: hidden;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #f5f7ff;
  header {
    flex-shrink: 0;
  }

  main {
    flex: 1;
    overflow: auto; // Optional: for scrollable content
  }
}

:root {
  font-family: "Roboto", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;

  &:hover {
    color: #535bf2;
  }
}

body {
  margin: 0;
  min-width: 320px;
  background-color: #f4f4f9;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  margin: 0;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

p {
  font-size: 1rem;
  margin: 0;
}

ul,
ol {
  padding-left: 1.5rem;
  margin-bottom: 1.5rem;

  li {
    font-size: 1rem;
  }
}
